<!--<div style="text-align: center;">
  <h1>Sign Up</h1>
  <input [(ngModel)]="register.username" placeholder="Username"><br>
  <input [(ngModel)]="register.password" type="password" placeholder="Password"><br>
  <input [(ngModel)]= "register.email" placeholder="Email"><br>
  <button (click)="registerUser()">Register User</button>
</div>-->

<div class="container">
  <div class="header">
    <img src="logotrack.png" alt="Logo" class="logo">
    <h1 class="title">
      <span class="title-text">Tracking</span><span class="title-symbol">()</span>
    </h1>
    <h2 class="subtitle">Registro</h2>
  </div>
  <p class="description">Completa los campos para crear una cuenta</p>
  <div class="register-form">
    <input [(ngModel)]="register.username" placeholder="Username" class="input-field"><br>
    <input [(ngModel)]="register.password" type="password" placeholder="Password" class="input-field"><br>
    <input [(ngModel)]="register.email" placeholder="Email" class="input-field"><br>
    <button (click)="registerUser()" class="register-button">Registarse</button>
    <!--<a href="login.html" class="login-link">Iniciar Sesión</a>-->
  </div>
</div>
