<div class="table-container" >
  <table>
  <thead>
    <tr class="header">
      <th>CURSO</th>
      <th>CÓDIGO</th>
      <th>PRE-REQUISITO</th>
      <th>CRÉDITOS</th>
      <th>NOTA</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let course of courses">
          <td>{{ course.nameCourse }}</td>
          <td>{{ course.idCourse }}</td>
          <td>{{ course.preRequirements }}</td>
          <td>{{ course.credit }}</td>
          <td>{{ course.nota }}</td>
        </tr>
  </tbody>
  <a href="../semester-grades" class="">Promedio de Semestre</a>
</table>
</div>

